body {
    background: rgb(167, 165, 165);
}

h2 {
    color: rgb(231, 211, 24);
}

.foto {
    width: 180;
}

h1 {
    color: rgb(231, 211, 24) ;
}

h3 {
    color: rgb(7, 54, 107)
}