body {
    background-image: url(fundo2.jpg);
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: cover;
    font-family: 'comfortaa', cursive;
    color: #252525;
    margin: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.foto {
    width: 180px;
    /*border-width: 2px;
    border-style: inset;
    border-color: black; */
    border: 1px solid #000000; /* Essa linha de comando simplificada se chama 'shorthand' */
    border-radius: 50%;
    /* margin-top: 35px ;
    margin-bottom: 30px;
    margin-left: 40%; */
    margin-top: 20px;  
    margin-bottom: 1px;
    box-shadow: 0px 0px 20px #3e3e3e;
}

.perfil {
    text-align: center;
}

.redes-sociais {
    width: 35px;
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #000000;
    }

h2 {
    text-shadow: 1px 1px 1px black;
    color: #000000;
}

h3 {    
    font-size: large;
    font-weight: 600;
    font-style: italic;
    color: #ffd000;
    text-shadow: 1px 1px 2px black;
    }

h4 {
    font-weight: 200;
    font-size: 18px;
    margin-top: 0;
    letter-spacing: -1px;
}

.outras {
    list-style: none;
    margin-bottom: 30px;
    padding-left: 28px;
}

.rodape {
    background: black;
    color: blanchedalmond;
    margin-top: 35px;
    text-align: center;
    padding: 10px 0px;
}
